@import '../variables.scss';

.searchContainer {
  height: 15rem;
  width: 20%;
  display: inline-grid;

  .searchInput {
    height: 25%;
    margin-top: 2rem;
    border: 1px solid $lightGrey;
    border-radius: 5px;
    align-self: end;

  }

  .searchButton {
    height: 30%;
    margin-top: 2rem;
    border: 1px solid $lightGrey;
    border-radius: 20px;
    background-color: $buttonColor;
    color: $white;
    font-size: 1rem;
    font-weight: 600;
  }
}

